In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import cluster

In [31]:
countries_df = pd.read_csv("combined_countries.csv")
#countries_df.columns = [c.replace(' ', '_') for c in countries_df.columns]
countries_df

,Country,Alcohol_use_disorders,All_Causes,Alzheimer_disease_and_other_dementias,Anxiety_disorders,Asthma,Brain_and_nervous_system_cancers,Breast_cancer,"Cardiomyopathy,_myocarditis,_endocarditis",Chronic_kidney_disease_due_to_diabetes,...,Osteoarthritis,Pancreas_cancer,Population_thousands,Preterm_birth_complications,Prostate_cancer,Rheumatic_heart_disease,Schizophrenia,Skin_diseases,Stomach_cancer,"Trachea,_bronchus,_lung_cancers"
0,Caribbean,-1.000000,13905.819580,156.013413,152.777611,198.905045,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,38390,477.236529,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000,195.919851
1,China,-1.000000,376370.900000,10041.762200,4275.024730,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,4323.652582,-1.000000,1411415,-1.000000,-1.000000,-1.00000,4561.340778,-1.000000,7759.098337,14705.861540
2,France,223.113543,16782.841240,677.400662,351.145909,193.112460,-1.000000,330.333607,-1.000000,-1.000000,...,-1.000000,225.665361,64721,-1.000000,-1.000000,-1.00000,-1.000000,189.569308,-1.000000,827.288245
3,Greece,-1.000000,3273.038198,69.024986,56.114990,-1.000000,34.471233,54.584690,-1.000000,-1.000000,...,31.212442,38.295989,11184,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,32.137082,167.675410
4,India,-1.000000,509005.725000,-1.000000,4081.880412,5504.450195,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,1324171,31005.755800,-1.000000,3746.70137,-1.000000,3756.504378,-1.000000,-1.000000
5,Indonesia,-1.000000,87574.365190,1045.337914,856.854739,1680.670286,-1.000000,-1.000000,-1.000000,840.834556,...,-1.000000,-1.000000,261115,2574.502710,-1.000000,-1.00000,-1.000000,947.452088,-1.000000,940.143704
6,Ireland,13.790877,1070.385310,35.414323,24.458824,18.303144,-1.000000,21.155839,-1.000000,-1.000000,...,-1.000000,-1.000000,4726,-1.000000,-1.000000,-1.00000,-1.000000,12.755075,-1.000000,41.684412
7,Italy,-1.000000,17125.665680,666.743901,316.509992,-1.000000,-1.000000,317.549798,-1.000000,-1.000000,...,173.610106,223.835288,59430,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,202.813075,698.588108
8,Japan,-1.000000,35619.331060,1126.773893,415.865717,-1.000000,-1.000000,384.167244,-1.000000,391.363236,...,-1.000000,614.418695,127749,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,950.289384,1389.004544
9,Mexico,396.771078,31199.489910,-1.000000,366.859752,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,257.202025,-1.000000,127540,713.022176,-1.000000,-1.00000,-1.000000,391.296531,-1.000000,-1.000000
10,Philippines,-1.000000,33904.976340,-1.000000,325.508677,695.288042,-1.000000,328.233205,-1.000000,443.678554,...,-1.000000,-1.000000,103320,1127.774078,-1.000000,-1.00000,-1.000000,438.014289,-1.000000,321.929760
11,Thailand,-1.000000,22137.704130,632.243630,249.346168,258.959020,-1.000000,-1.000000,-1.000000,444.196024,...,-1.000000,-1.000000,68864,283.621127,-1.000000,-1.00000,-1.000000,323.829316,-1.000000,528.034045
12,Viet Nam,-1.000000,25192.804110,504.198614,-1.000000,324.011085,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,94569,834.190955,-1.000000,-1.00000,-1.000000,324.340962,368.283732,593.818776
13,Russian Federation,2060.365566,64873.714090,818.699201,-1.000000,-1.000000,-1.000000,830.939828,1969.615125,-1.000000,...,558.084360,-1.000000,143965,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,1024.450448,1678.847647
14,Republic of Korea,166.184640,11312.673320,272.677699,197.404469,137.168664,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,50792,-1.000000,-1.000000,-1.00000,-1.000000,134.885368,239.635116,407.103899
15,United Kingdom,-1.000000,17925.027080,997.214261,296.785430,251.479227,-1.000000,311.613913,-1.000000,-1.000000,...,-1.000000,-1.000000,65789,-1.000000,205.507977,-1.00000,-1.000000,211.588610,-1.000000,741.426064

I am going to assign 1/0 values to countries that have an occurence of a disease and then cluster the countries that have those diseases.

In [32]:
alcohol = pd.Series(np.where(countries_df.Alcohol_use_disorders.values > 0, 1, 0), countries_df.Country)
alcohol

Country
Caribbean             0
China                 0
France                1
Greece                0
India                 0
Indonesia             0
Ireland               1
Italy                 0
Japan                 0
Mexico                1
Philippines           0
Thailand              0
Viet Nam              0
Russian Federation    1
Republic of Korea     1
United Kingdom        0
dtype: int32

In [33]:
asthma = pd.Series(np.where(countries_df.Asthma.values > 0, 1, 0), countries_df.Country)
asthma

Country
Caribbean             1
China                 0
France                1
Greece                0
India                 1
Indonesia             1
Ireland               1
Italy                 0
Japan                 0
Mexico                0
Philippines           1
Thailand              1
Viet Nam              1
Russian Federation    0
Republic of Korea     1
United Kingdom        1
dtype: int32